<article class="container_16">
    <div class="grid_11">
        <div class="kt-box" style="height: 434px;">
            <h2 class="post-title audio">
                <a href="/">Title</a>
            </h2>
        </div>
    </div>
    @subscriptions()
    <div class="kt-media">
        <h3>
            <span><em>#</em>1</span></h3>
        <section class="media-container audio-item">
            <div class="audio-frame">
                HTML FRAME
            </div>
        </section>
        <section class="media-summary">
            <p>
                This is a test episode
            </p>
            <div class="fix">
                <text> <a href="/slug" class="kt-button keyvan-tv icon forward yellow">Listen
                    Episode<span></span></a>
                </text>
            </div>
        </section>
    </div>
</article>
