@(episode: models.Episode)

<article class="container_16">
    <div class="grid_11">
        <div class="kt-box" style="height: 434px;">
            <h2 class="post-title audio">
                <a href="/">@episode.title</a>
            </h2>
        </div>
    </div>
    @subscriptions()
    <div class="kt-media">
        <h3>
            <span><em>#</em>1</span></h3>
        <section class="media-container audio-item">
            <div class="audio-frame">
                HTML FRAME
            </div>
        </section>
        <section class="media-summary">
            <p>
                @episode.summary
            </p>
            <div class="fix">
                <text> <a href="/@@episode.slug" class="kt-button keyvan-tv icon forward yellow">Listen Episode<span></span></a>
                </text>
            </div>
        </section>
    </div>
</article>
